@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgDark text-textPrimary font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #a855f7, #06b6d4);
  border-radius: 9999px;
}
